@charset "UTF-8";

/*
ciano { #40ffdc };
azul claro { #00a9d4 };
azul escuro { #1c3166 };
roxo escuro { #240047 };
roxo ultra escur { #1c0021 };
*/

* {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body, html {
    background-color:#00a9d4;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);

    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

#login > #img {
    display: block;
    background:#00a9d4 url(../imagens/logo4.png) no-repeat;
    background-size:cover;
    height: 220px;
}

#login > #form {
    display: block;
    padding: 10px;
}

#form > h1 {
    text-align: center;
    margin: 10px;
}

#form > p {
    font-size: 0.8em;
}

