@charset "UTF-8";

/*
ciano { #40ffdc };
azul claro { #00a9d4 };
azul escuro { #1c3166 };
roxo escuro { #240047 };
roxo ultra escur { #1c0021 };
*/

* {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body, html {
    background-color:#00a9d4;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 280px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);

    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

#login > #img {
    display: block;
    background:#00a9d4 url(../imagens/logo4.png) no-repeat;
    background-size:cover;
    height: 220px;
}

#login > #form {
    display: block;
    padding: 10px;
}

#form > h1 {
    text-align: center;
    margin: 10px;
}

#form > p {
    font-size: 0.8em;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#240047 ;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color:#1c0021;
}

form > .botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:white ;
    color: #240047;
    border: 1px solid #240047;
    border-radius: 8px;
    text-decoration: none;
    padding-top:7px ;
    margin-top: 7px;
}

form > .botao:hover {
    background-color:#7600ec ;
}

form > .botao > i {
    font-size: .8em;
}

form > .campo {
    background-color: #1c3166;
    border: 2px solid #1c3166 ;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

.campo > label {
    display: none;
}

.campo > i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;

}

.campo > input {
    background-color:#410081;
    font-size: 1em;
    width:calc(100% - 46px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 5px;

    transform: translatey(-13.5px);
}

.campo > input:focus-within{
    background-color: white;
}